module <%= ruby_module.qualified_name %>
% ruby_module.imports.each do |import|
  include <%= import %>
% end
% ruby_module.classes.each do |ruby_class|
% if ruby_class.is_a?(RubySequelClass) && !ruby_class.is_primitive
  <%= ruby_class.schema_to_ruby_code %>
% end
% end
end
