<%= RubyComment.new("============= Begin class #{c.name} =============").to_ruby_code if ! is_sub_sequel %>

<%= "#{c.name}.create_schema?" %>

% if c.sub_sequel_classes && c.sub_sequel_classes.any?
  <%= RubyComment.new("== Begin associated classes for class #{c.name} ==").to_ruby_code %>
% c.sub_sequel_classes.each do |ssc|
    <%= ssc.schema_to_ruby_code(true) %>
% end
  <%= RubyComment.new("== End associated classes for class #{c.name} ==").to_ruby_code %>
% end
  <%= RubyComment.new("============= End class #{c.name} =============").to_ruby_code if ! is_sub_sequel %>
