require '<%= generated_gem_name %>/meta_info'
require 'fileutils'

require 'Foundation/conventions'

module <%= model_name_generated %>

  extend Generated_MetaInfo_Behaviors
    
  def self.location
    ::File.dirname(__FILE__)
  end

  def self.project_dir
    ::File.join(self.lib_dir, '<%= generated_gem_name %>')
  end
  
  def self.top_level_modules
    [ <%= top_module_constants.join(", ") %> ]
  end
end


# Auto load appropriate API
# if defined?(Java)
#   <%= model_name_generated %>.load_jruby_api
# else
#   <%= model_name_generated %>.load_ruby_api
# end