Kernel.warn "Use of this driver file is deprecated!"
module <%= model_name %>
  TOP_LEVEL_MODULES = [ <%= top_module_constants.join(", ") %> ]
end

$DB_HASH = Hash.new unless $DB_HASH
$DB_URL_HASH = Hash.new unless $DB_URL_HASH

# We default to SQLite
def default_db_url
  db_file_name = <%= model_name_generated %>.db_location
  using_jruby = (RUBY_PLATFORM =~ /java/)
  return "jdbc:sqlite:#{db_file_name}" if using_jruby
  "sqlite://#{db_file_name}"
end

db_url = $DB_URL_HASH['<%= model_name %>'] ||= default_db_url

require 'sequel'

require 'pg'        if db_url.index('postgres:')
require 'sqlite3'   if db_url.index('sqlite:')
require 'mysql2'    if db_url.index('mysql2:')
require 'mysqlplus' if db_url.index('mysql:')  

require 'sequel_specific_associations'
require 'sequel/extensions/inflector'
<% if UmlMetamodel.find("Gui_Builder_Profile::change_tracked", @project) %>
require 'sequel_change_tracker'
<% end %>

# Some other driver may already have connected to this database.
# If so, we reuse that connection.
# Should not be using a constant, but we are currently using DB elsewhere, so keep it for now
DB = $DB_HASH['<%= model_name %>'] ||= Sequel.connect(db_url)
Sequel::Model.db = DB # Have new subclassifiers use the selected database, instead of the most recently used database

model_dir = <%= model_name_generated %>.model_dir
require File.join(model_dir, 'models.rb')
require File.join(model_dir, 'schema.rb')
require File.join(model_dir, 'enumeration_instances.rb')