<%= RubyComment.new("\n============= Begin class #{c.name} =============").to_ruby_code if ! is_sub_sequel %>

class <%= c.parent_module.qualified_name %>::<%= c.name %> < <%= c.parents[0].qualified_name %>
% unless c.is_abstract || c.is_primitive
    set_dataset :<%= c.table_name %>
% end
% if c.plugins.any?
    <%= c.plugins_string %>
% end
% c.parents[1..-1].each do |sup_class|
    child_of <%= sup_class.qualified_name %>
% end
% c.implemented_interfaces.each do |interface|
    implements <%= interface.qualified_name %>
% end
% if c.is_abstract
    abstract!
% end
% if c.is_singleton
    singleton!
% end
% if c.is_interface
    interface!
% end
% if c.is_primitive
    # this is a primitive type
    extend ModelMetadata
% end
% if c.is_enumeration
    enumeration!
% end
% if c.is_complex_attribute
    complex_attribute!
% end
% if c.is_association_class
    association_class!
% end
% if c.documentation && !c.documentation.empty?
    documentation <%= c.documentation.inspect %>
% end
% if c.additional_data && c.additional_data.any?
    additional_data(<%= c.additional_data %>)
% end
% c.get_association_strings.each do |assoc|
    <%= assoc %>
% end
% c.public_fields.each do |field|
    <%= field.to_ruby_code %>
% end
% c.public_methods.each do |method|
    <%= method.to_ruby_code %>
% end
% if c.private_fields.any?
    <%= 'private' %>
% end
% c.private_fields.each do |field|
    <%= field.to_ruby_code %>
% end
% c.private_methods.each do |method|
    <%= method.to_ruby_code %>
% end
% c.columns.each do |column|
    <%= column.to_attribute_code %>
% end
end
% if c.sub_sequel_classes && c.sub_sequel_classes.any?
  <%= RubyComment.new("== Begin associated classes for class #{c.name} ==").to_ruby_code %>
% c.sub_sequel_classes.each do |ssc|
    <%= ssc.to_ruby_code_with_module(true) %>
% end
  <%= RubyComment.new("== End associated classes for class #{c.name} ==").to_ruby_code %>
% end
<%= RubyComment.new("============= End class #{c.name} =============").to_ruby_code if ! is_sub_sequel %>